// Phase
.phase-plans {
	margin-bottom: 40px;
	@include breakpoint(sm) {
		margin-bottom: $size / 2;
	}
}
// Phase steps
.phase-steps-title {
	background-color: $grey-light;
	padding: 8px 20px;
	color: $grey-dark-alt;
	text-transform: uppercase;
	font-size: 14px;
}
.phase-steps {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-direction: column;
	@include breakpoint(sm) {
		flex-direction: row;
		overflow: auto;
	}
	li {
		background-color: $brand-red;
		padding: 15px 20px;
		margin: 5px 0;
		position: relative;
		color: $white;
		@include breakpoint(sm) {
			margin: 0 5px;
		}
		// SVG
		&:before {
			content: '';
			background-image: url(assets/images/arrow-thin-white-h.svg);
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 10px;
			@include breakpoint(sm) {
				background-image: url(assets/images/arrow-thin-white-v.svg);
				top: 0;
				left: 0;
				bottom: 0;
				width: 10px;
				height: auto;
				right: auto;
			}
			@include breakpoint(lg) {
				width: 8px;
			}
		}
		&:after {
			content: '';
			background-image: url(assets/images/arrow-thin-red-h.svg);
			background-size: cover;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			height: 10px;
			@include breakpoint(sm) {
				background-image: url(assets/images/arrow-thin-red-v.svg);
				top: 0;
				left: 100%;
				bottom: 0;
				width: 10px;
				height: auto;
				right: 0;
			}
			@include breakpoint(lg) {
				width: 8px;
			}
		}
		&:first-child {
			margin-left: 0;
			&:before {
				background-image: none;
				width: 0;
			}
		}
		&:last-child {
			margin-right: 0;
			&:after {
				background-image: none;
				width: 0;
			}
		}
		&.disabled {
			background-color: $grey-light;
			color: $grey;
			&:after {
				content: '';
				background-image: url(assets/images/arrow-thin-grey-h.svg);
				background-size: cover;
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				height: 10px;
				@include breakpoint(sm) {
					background-image: url(assets/images/arrow-thin-grey-v.svg);
					top: 0;
					left: 100%;
					bottom: 0;
					width: 10px;
					height: auto;
					right: 0;
				}
				@include breakpoint(lg) {
					width: 8px;
				}
			}
		}
	}
}
.phase-plan {
	&.phase-review {
		li {
			background-color: $brand-red-cta;
		}
	}	
}