// Step
// Page title
.title-step-number {
	color: $grey;
}

// Page introduction
.page-intro {
	margin-bottom: $size * 2;
	.page-intro-presentation {
		max-width: 700px;
	}
	.page-intro-title {
		@include clearfix;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 16px;
		font-weight: 300;
		color: $grey;
		margin-bottom: 13px;
	}
	.page-intro-download {
		text-transform: none;
		font-size: 14px;
		a {
			@include transition;
			color: darken($grey-light, 10%);
			&:hover,
			&:focus {
				color: $brand-red;
				text-decoration: none;
			}
			.icon {
				color: $brand-red;
			}
		}
	}
}
.icon-help {
	@include transition;
	opacity: 0.3;
	&:hover,
	&:focus {
		opacity: 1;
	}
}

// Overview
.section-overview {
	margin-bottom: $size;
}

// Coaches
.coaches {
	.coach {
		// clear: both;
		margin-bottom: 10px;
		a {
			@include clearfix;
			&:hover,
			&:focus {
				text-decoration: none;
				.coach-img {
					border-color: $brand-blue;
				}
			}
		}
	}
	.coach-name,
	.coach-title {
		display: block;
	}
	.coach-name {
		font-weight: bold;
	}
	.coach-title {
		color: $grey;
	}
	.coach-img {
		@include transition;
		max-width: $size * 2.2;
		max-height: $size * 2.2;
		border-radius: $size * 2;
		float: left;
		border: 1px solid $grey-light;
		padding: 3px;
		margin-right: 10px;
	}
}

// Table
.page-single {
	.table {
		thead {
			th {
				min-width: 150px;
			}
		}
		tbody {
			td {
				a {
					&.available {
						&:before {
							content: '\f058';
							font-family: $fa;
							color: $func-green;
							padding-right: 5px;
						}
					}
				}
			} 
		}
	}
}

// Page nav
.page-nav {
	margin-top: $size * 2;
	margin-left: -$size;
	margin-right: -$size;
	margin-bottom: -$size;
}
.page-navigation {
	@include clearfix;
	border-top: 1px solid $grey-light;
	margin-bottom: 0;
	.previous,
	.next {
		&.disabled {
			a {
				color: $grey-light;
				cursor: not-allowed;
				&:hover,
				&:focus {
					.page-next,
					.page-previous {
						transform: translateY(0);
					}
					.page-previous,
					.page-next {
						.page-number {
							color: $grey-light;
						}
					}
				}
			}
		}
		a {
			display: block;
			color: $brand-red;
			&:hover,
			&:focus {
				.page-next,
				.page-previous {
					transform: translateY(-10px);
				}
				.page-number {
					color: $grey;
				}
			}
		}
	}
	.previous-text,
	.next-text {
		display: inline-block;
		font-size: 1.2em;
		margin-bottom: 1em;
	}
	.previous {
		border-right: 1px solid $grey-light;
		padding-top: 20px;
		padding-left: $size;
		padding-bottom: $size;
	}
	.next {
		padding-top: 20px;
		padding-right: $size;
		padding-bottom: $size;
	}
	.page-previous,
	.page-next {
		@include clearfix;
		@include transition;
		.page-number {
			@include transition;
			font-size: 3em;
			width: 50px;
			line-height: 0.9em;
			color: $grey-light;
		}
		.page-name {
			width: 60%;
			color: $grey;
		}
	}
	.page-previous {
		.page-number {
			margin-right: 10px;
		}
	}
	.page-next {
		.page-number {
			margin-left: 10px;
		}
	}
}
