// Nav
// Nav tabs
.nav-tabs {
	background-color: $grey-light;
	& > li {
		a {
			@include transition;
			border-radius: 0;
			background-color: $grey-dark-alt;
			color: $white;
			font-weight: 500;
			margin-right: 1px;
			padding: 20px 15px;
			@include breakpoint(lg) {
				font-size: 1.1em;
			}
			&:hover,
			&:focus {
				background-color: $grey-dark;
				border-color: transparent;
				border-bottom-color: $brand-red-cta;
				.icon {
					color: $brand-red-cta;
				}
			}
			.icon {
				@include transition;
				font-size: 1.2em;
			}
		}
		&.active {
			a {
				color: $brand-red-cta;
			}
		}
	}
}

// Nav main
.nav-main {
	position: absolute;
	background-color: $white;
	padding: $size / 2;
	padding-top: $size;
	height: 100%;
	overflow-y: auto;
	.menu-open & {
		width: $menu-width;
	}
	.menu-closed & {
		width: $menu-width / 5;
	}
}
.lead {
	padding-top: 20px;
}
.menu-item {
	position: relative;
	padding-bottom: $size / 3;
	&.active {
		.menu-item-indicator {
			background-color: $brand-red;
			border-color: $brand-red;
			color: $white;
		}
		& > a {
			color: $brand-red-cta;
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: $size / 2;
		z-index: 1;
		border-left: 1px solid $grey-light;
		height: 100%;
	}
	&:last-child {
		&:before {
			border-left: 0;
		}
	}
	& > a {
		font-weight: 500;
		color: $grey;
	}
}
.menu-item-indicator {
	position: relative;
	z-index: 2;
	display: inline-block;
	width: $size;
	height: $size;
	line-height: $size;
	text-align: center;
	border: 1px solid $grey-light;
	border-radius: $size / 2;
	margin-right: 10px;
	background-color: $white;
	color: $grey;
}
.menu-item-title {
	display: inline-flex;
	max-width: 80%;
	.menu-closed & {
		display: none;;
	}
}

// Submenu
.submenu-nav {
	list-style-type: decimal-leading-zero;
	padding-left: $size * 2 +7px;
	.menu-closed & {
		display: none;
	}
	li {
		padding-top: $size / 6;
		padding-bottom: $size / 6;
	}
}
.submenu-item {
	position: relative;
	font-weight: 300;
	&:before {
		@include transition;
		content: '';
		position: absolute;
		left: -56px;
		top: 0.65em;
		z-index: 3;
		width: 10px;
		height: 10px;
		border-radius: 5px;
		background-color: transparent;
	}
	&.active,
	&:hover {
		&:before {
			background-color: $brand-red-cta;
		}
		a {
			color: $brand-red-cta;
		}
	}
	&.active {
		font-weight: 500;
		a {
			color: $brand-red-cta;
		}
	}
	& > a {
		color: $grey;
		&:hover,
		&:focus {
			// text-decoration: none;
		}
	}
}

















