// Template
body {
	// background-color: $grey-light;
}
a {
	color: $brand-blue;
}
p {
	line-height: 1.5em;
}
.hidden-xs-inline {
	display: none;
	@include breakpoint(sm) {
		display: inline;
	}
}

// Buttons
.btn {
	@include transition;
	border-radius: 0;
	&-default {
		border: 0;
		background-color: $grey-dark-alt;
		color: $grey-light;
		&:hover,
		&:focus,
		&.active,
		&:active {
			background-color: darken($grey-dark-alt, 5%) !important;
			color: $white !important;
		}
	}
	&-primary {
		background-color: $brand-red;
		border: 0;
		white-space: normal;
		&:hover,
		&:focus {
			background-color: darken($brand-red, 5%);
		}
	}
}

a[target="_blank"] {
	&:after {
		content: '\f08e';
		font-family: $fa;
		padding-left: 4px;
		opacity: 0.2;
	}
	&:hover,
	&:focus {
		text-decoration: none;
		&:after {
			opacity: 1;
		}
	}
	&.btn {
		&:after {
			content: '';
		}
	}
}

// Dropdowns
.dropdown-menu {
	border-radius: 0;
	border: 0;
	margin-top: 0;
	background-color: $grey-dark-alt;
	& > .active {
		a {
			background-color: $brand-red-cta;
			&:hover,
			&:focus {
				background-color: $brand-red-cta;
			}
		}
	}
	& > li {
		& > a {
			@include transition;
			color: $grey-light;
			&:hover,
			&:focus {
				background-color: rgba($white, 0.1);
				color: $white;
			}
		}
	}
}

// Headings
.page-title,
.section-title {
	color: $grey-dark-alt;
}
.page-title {
	font-weight: 400;
}
.section-title {
	border-bottom: 1px solid #dadada;
	padding-bottom: 10px;
}

// Functional
.success {
	color: $func-green;
}

// --- [ LAYOUT ]
// Content
.content {
	@include transition;
	position: relative;
	padding: $size;
	margin-left: $menu-width + 50px;
	background-color: $white;
	.menu-closed & {
		margin-left: 50px;
	}
	.page-content {
		margin-bottom: $size;
	}
}



// Tables
.table-responsive {
	margin-left: -30px;
	margin-right: -30px;
	th,
	td {
		white-space: normal !important;
		width: 300px;
	}
}
.table {
	font-size: 13px;
	table-layout: fixed;
	thead {
		&:first-child {
			& > tr {
				th {
					&:first-child {
						&:not(.text-center) {
							padding-left: $size;
						}
					}
					&:last-child {
						&:not(.text-center) {
							padding-right: $size;
						}
					}
				}
			}
		}
		th {
			vertical-align: top !important;
			background-color: $brand-red-cta;
			color: $white;
			border-bottom: 0 !important;
			padding-bottom: 15px !important;
		}
	}
	tbody {
		tr {
			td {
				&:first-child {
					padding-left: $size;
				}
				&:last-child {
					padding-right: $size;
				}
			}
		}
	}
	// Content
	.table-description {
		td {
			background-color: #f8f8f8;
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
	.table-step-number {
		display: block;
		font-size: 1.6em;
		font-weight: 200;
		opacity: 0.7;
	}
}
// Table hover
.table-hover {
	& > tbody {
		& > tr {
			@include transition;
		}
	}
}
// Table auto width on too wide cells
.table-width {
	width: auto;
	thead {
		th {
			min-width: 150px;
		}
	}
}

// --- [ PANELS ]
// Panel
.panel {
	border-radius: 0;
	// border: 0;
	box-shadow: none;
}
.panel-default {
	& > .panel-heading {
		position: relative;
		background-color: $brand-red;
		color: $white;
		border-color: $brand-red;
		border-radius: 0;
		.panel-icon {
			position: absolute;
			right: 0;
			top: 0;
			padding: 0 0.7em;
			background-color: $brand-red-cta;
			line-height: 38px;
			font-size: 22px;
		}
	}
	& > .list-group {
		border: 1px solid $grey-light;
		border-top: 0;	
	}
}



// Components
// Video courses
.course-format,
.faded {
	color: darken($grey-light, 10%);
}